@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: white;
}

div > img {
    width: 500px;
    display: block;
    margin: auto;
}

div > p {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

a {
    font-family: monospace;
    color: blueviolet;
    text-decoration: none;
    text-align: center;
}

button {
    width: 200px;
    height: 30px;
    display: block;
    margin: auto;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    background-color: rgba(236, 226, 238, 0.51);
}

button:hover {
    background-color: azure;
}